html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  height: 100vh;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-form{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.game-boards {
  display: none;
  gap: 250px;
  height: 50%;
  width: 50%;
  padding-left: 25px;
  padding-right: 25px;
}

.board {
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100%;
  width: 100%;
}

.box {
  max-height: 100%;
  max-width: 100%;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlighted-box,
.selected-box {
  background-color: green;
}

.out-of-bounds {
  background-color: red;
}

.setup {
  display: none;
  text-align: center;
  height: 50%;
  width: 50%;
}

#toggle-orientation {
  margin-bottom: 25px;
}

.missed-shot {
  background-color: rgba(135, 206, 250, 0.87);
}

.hit-shot {
  background-color: rgba(255, 0, 0, 0.363);
}

.ship-count {
  margin-top: 25px;
}
.ship-count,
#toggle-orientation,
.play-again,
.modal-content {
  font-size: 100px;
}

.modal {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  text-align: center;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
  height: 25%;
}

.winner {
  margin-bottom: 25px;
}
